.DrawerLayout > aside {
  display: none;
  height: calc(100dvh - 3.5rem);
  position: sticky;
  top: 0;
  z-index: 0;
}

.DrawerLayoutChildren article {
  margin: 1vh 2vw;
  isolation: isolate;
}

.DrawerLayoutChildren article > h1,
.DrawerLayoutChildren header > h1,
.DrawerLayoutChildren section > h1 {
  font-size: clamp(1.75rem, 8vw, var(--fontSize1000));
}

.DrawerLayoutChildren article > h2,
.DrawerLayoutChildren section > h2 {
  margin-top: 0.5em;
  margin-bottom: 0.125em;
  font-size: clamp(1.5rem, 6vw, var(--fontSize900));
}

.DrawerLayoutChildren section > h3 {
  margin-top: 0.5em;
  font-size: clamp(1.5rem, 6vw, var(--fontSize800));
}

@media (--mediaDesktop) {
  .DrawerLayout {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .DrawerLayout > aside {
    display: block;
  }
}
