.PageBackground {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--colorBackground));
  background-image:
    radial-gradient(
      circle at 0 20%,
      hsl(var(--colorPrimary400), 0.2) 0%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 100% 80%,
      hsl(var(--colorPrimary600), 0.1) 0%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      ellipse at center,
      transparent 0%,
      hsl(var(--colorBackground), 0.5) 50%,
      hsl(var(--colorBackground), 0.5) 100%
    ),
    repeating-conic-gradient(
      transparent 0 43deg,
      hsla(var(--fontColorA), 0.015) 43deg 47deg,
      transparent 47deg 90deg
    );
  background-size:
    cover,
    cover,
    cover,
    3rem 3rem;
  background-repeat: repeat-y, repeat-y, repeat, repeat;
  background-attachment: fixed;
}
